* {

    margin : 0;
    font-family : Arial;
    box-sizing : border-box;
}

.navbar {
    display : flex;
    height : 60px;
    background-color :#0f1111;
    color : white;
    align-items : center ;
    justify-content: space-evenly;
}

.nav-address {
    height : 50px;
    width : 100px;
    margin-right: 30px

}

.logo-img {
    background-size : cover;
    height : 50px;
    width : 100px;
    color: white;
    
    
}

.border {
    border : 2px solid transparent;
}

.border.hover {
    border: 2px solid white;
}

/** box2 **/

.address-first {
    color : #cccccc;
    font-size : 1rem;
    margin-left : 10px;
}

.address-second  {
   color : white;
   font-size : 2rem;
   margin-left: 5px;
}

.add-icon {
    display : flex; 
    align-items : center;
}

/** box 3 **/

.nav-search {
    display : flex;
    justify-content :space-evenly;
    background : rgb(233, 105, 20);
    display: flex;
    height : 25px;
    width : 500px;
    border-radius : 5px;
    margin-left: 50px;


}

.search-select {
    background-color: #f3f3f3;
    width : 50px;
    text-align : center;
    border-radius : 4px;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    border : none;
}

.search-input {
    
    width : 200px;
    font-size : 1rem;
    border : none;

}

.search-icon {
    width : 40px;
    display : flex;
    justify-content: center;
    margin : auto;
    font-size : 1rem;
    align-items : center;

}

.nav-search:hover {
    border : 2px solid orange;
}

/** box 4 **/
.nav-singin {
    display : flex;
    font-size : 0.8rem;
    margin-left : 180px;
    margin :center;

}

span {
    font-size : 0,7rem;
    
}


.nav-second {
    font-size : 0.85rem;
    font-weight : 700;
}

.nav-return{
    margin-right : 50px;
}

/** box 6 **/

.nav-cart i {
  font-size : 25px;  
}

.nav-cart {
    font-size : 0.85rem;
    font-weight : 700;

}

/** panel **/ 

.panel {
    display : flex;
    height : 40px;
    background-color : #222f3d;
    color : white;
    align-items : center;
    justify-content : space-evenly
}

.panel-ops p {
    display : inline;
    margin-left : 25px;
}

.panel-ops {
    width : 70%;
    font-size : 0.85rem;
}

.panel-deals {
    font-size : 0.9rem;
    font-weight : 700;
}

/** hero-section **/

.hero-section {
    background-image : url("image/page_image.jpg");
    background-size : cover;
    height : 300px;
    display : flex;
    justify-content : center;
    align-items : flex-end;

    
}

.hero-message {
    background-color : white;
    color : black;
    height : 30px;
    display : flex ;
    align-items : center;
    justify-content : center;
    font-size : 0.85rem;
    width : 80%;
    margin-bottom : 15px;

}

.hero-message a {
    color : #007185;
}

/** content section **/

.content-section {
    display : flex;
     flex-wrap : wrap;
    justify-content : space-evenly;
    background-color : #e2e7e6;
}

.box1 {
    border : 2px solid black;
    height : 280px;
    width : 23%;
    background-color : white;
     padding : 4px 8px 15px ; 
     margin-top : 15px;
}

.box-img {
    height : 180px;
    background-size : cover;
    margin-top : 1rem;
    margin-bottom : 1rem;

}

.box-content {
    margin-top : 1rem;
    margin-bottom :1rem;
}

.box-content p {
    display : flex;
    color : #007185;

}

.content-section {
    display : flex;
     flex-wrap : wrap;
    justify-content : space-evenly;
    background-color : #e2e7e6;
}

.box2 {
    border : 2px solid black;
    height : 280px;
    width : 23%;
    background-color : white;
     padding : 4px 8px 15px ; 
     margin-top : 15px;
}

.box-img {
    height : 180px;
    background-size : cover;
    margin-top : 1rem;
    margin-bottom : 1rem;

}

.box-content {
    margin-top : 1rem;
    margin-bottom :1rem;
}

.box-content p {
    display : flex;
    color : #007185;

}

.content-section {
    display : flex;
     flex-wrap : wrap;
    justify-content : space-evenly;
    background-color : #e2e7e6;
}

.box3 {
    border : 2px solid black;
    height : 280px;
    width : 23%;
    background-color : white;
     padding : 4px 8px 15px ; 
     margin-top : 15px;
}

.box-img {
    height : 180px;
    background-size : cover;
    margin-top : 1rem;
    margin-bottom : 1rem;

}

.box-content {
    margin-top : 1rem;
    margin-bottom :1rem;
}

.box-content p {
    display : flex;
    color : #007185;

}

.content-section {
    display : flex;
     flex-wrap : wrap;
    justify-content : space-evenly;
    background-color : #e2e7e6;
}

.box4 {
    border : 2px solid black;
    height : 280px;
    width : 23%;
    background-color : white;
     padding : 4px 8px 15px ; 
     margin-top : 15px;
}

.box-img {
    height : 180px;
    background-size : cover;
    margin-top : 1rem;
    margin-bottom : 1rem;

}

.box-content {
    margin-top : 1rem;
    margin-bottom :1rem;
}

.box-content p {
    display : flex;
    color : #007185;

}

/** footer **/

footer {
    margin-top : 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color : white;
    height : 50px;
    justify-content : center;
    display : flex;
    align-items : center;
    font-size : 0.85rem;

}

.foot-panel2 {
    background-color : #222f3d;
    color : white;
    height : 300px;
    display : flex;
    justify-content : space-evenly;
    
}

ul {
    margin-top : 20px;
}
ul a {
    display : block;
    font-size : 0.85rem;
    margin-top : 10px;
    color : #dddddd;

}

.foot-panel3 {
    background-color :#222f3d; 
    color : white;
    border-top : 0.5px solid white;
    height : 60px;
    display: flex;
    justify-content : center;
    
}

.logo2 {
    background-image:url("amazon-dark-logo.png");
    background-size : cover;
    height : 50px;
    width : 100px;
    display : flex;
    justify-content: center;
    align-items : center;

}

.foot-panel4 {
    background-color : #0f1111;
    color : white;
    height : 120;
    /* display : flex;
    justify-content: center;
    align-items : center; */

}

.pages {
    font-size : 0.7rem;
    text-align : center;
    padding-top : 10px;
    padding-bottom : 10px;
}

.copy-write {
    padding : 5px;
    font-size : 0.7rem;
    text-align : center;

}